html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(netflixbackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.column {
  position: absolute;
  width: 340px;
  left: 35%;
  top: 25%;
  padding: 10px 40px 40px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

.column h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 700
}

.signInContainer span {
  color: white;
}

.column a {
  color: rgba(128, 123, 123);
}

.column form input[type='text'],
.column form input[type='password'],
.column form input[type='password'] {
  border: none;
  background: none;
  display: block;
  margin: 10px 0;
  font-size: 14px;
  text-align: left;
  background: rgba(78, 75, 75);
  border-radius: 2px;
  padding: 9px 19px;
  width: 300px;
  outline: none;
  color: white;
}

.column form input[type='submit']{
  background-color: rgba(243, 18, 18);
  color: #dedede;
  height: 30px;
  width: 340px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.column form {
  display: flex;
  flex-direction: column;
}

/** Classe para estilizar os erros de validação
.errorMassage {



}
**/
